
<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#003459;">
    <a class="navbar-brand ml-sm-4" style="color: white;" href="#">Prepa-Forum</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active ml-sm-4">
          <a class="nav-link" style="color: white;" routerLink="">Sujets actifs <span class="sr-only">(current)</span></a>
        </li>

          
            <li class="nav-item active ml-sm-4">
                <a class="nav-link" style="color: white;" routerLink="">Messages sans réponse</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" style="color: white;" routerlink="">FAQ</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" style="color: white;" routerLink="">Membres</a>
            </li>
    </ul>
      <form class="form-inline my-2 my-lg-0">

        <button class="btn my-2 my-sm-0 mr-sm-2 " type="submit" style="border-color: white; color: white;">Connexion</button>
        
        <input class="form-control mr-sm-2" type="search" placeholder="sujet particulier ?" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="border-color: white; color: white; ">Recherche</button>
      </form>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid ">
  <div class="container  container-fluid ml-sm-4">
      
   <nav style="--bs-breadcrumb-divider: '>'; width: 30%; position: relative; background-attachment: fixed;" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/accueil">accueil</a></li>
        <li class="breadcrumb-item active" aria-current="page" routerLink="">forum mathématiques</li>
      </ol>
    </nav>

    <div class=" position-relative float-right" style="background-attachment: fixed;">
      <a routerLink="/login" class=" btn active " role="button" data-bs-toggle="button" aria-pressed="true" style="border-radius: 4px;  padding: 10px;background-color: red; color: white; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-weight: bolder; font-size: 1.3rem; ">Écrire une nouvelle question</a>

    </div>
   
  
  </div>
</div>


<div class="container container-fluid" style="background-color:yellow; height: 40rem; width: 75%;">
    <div class="row">
        <div class="col-sm-md-6">

        </div>
    </div>
</div>